.photo{
    display:flex;
   flex-direction:column;
    grid-gap: 3px;
}img{
    height: 60px;
    width: 60px;
    margin: auto;
    /* background-position-x: center; */
}
.card{
    background-color: rgb(62, 62, 174);
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    height: 300px;
    width: 200px;
    text-align: center;
padding-top: 20px;
margin: auto;
}
.card img{
 height: 50px;
 width: 50px;
 border-radius: 50%;
   
}
.card-body{
    height: 70px;
    padding-top: 20px;
 width: 70px;
 margin-left: 30%;
    border-radius: 5%;
  background-color: rgb(91, 126, 148);
}
p{
 margin-top: -50px;
 margin-right: -90px;
}
#mage{
    margin-left: 20px;
}